build/
node_modules/
prebuilds/
*.node
*.lib
*.dll
*.so
*.dylib
deps/unicorn/*.dll
deps/unicorn/*.lib
deps/unicorn/*.so
deps/unicorn/*.dylib
!deps/unicorn/unicorn.dll
!deps/unicorn/unicorn-import.lib
